In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./prices-split-adjusted.csv")
df = df[df["symbol"].isin(["WMT","AAPL","MMM"])]
df_wmt = df[df["symbol"]=="WMT"]
df_aapl = df[df["symbol"]=="AAPL"]

In [7]:
max(df["volume"])

470249500.0

In [6]:
df[df["symbol"]=="AAPL"].iloc[30:50]

,date,symbol,open,close,low,high,volume
14293,2010-02-17,AAPL,29.170000,28.935715,28.694286,29.187143,109099200.0
14761,2010-02-18,AAPL,28.804285,28.990000,28.702858,29.127142,105706300.0
15229,2010-02-19,AAPL,28.837143,28.809999,28.730000,29.028572,103867400.0
15697,2010-02-22,AAPL,28.905714,28.631428,28.455715,28.928572,97640900.0
16165,2010-02-23,AAPL,28.571428,28.151428,27.958570,28.761429,143773700.0
16633,2010-02-24,AAPL,28.318571,28.665714,28.262857,28.777143,115141600.0
17101,2010-02-25,AAPL,28.197144,28.857143,28.127142,28.980000,166281500.0
17569,2010-02-26,AAPL,28.911428,29.231428,28.857143,29.309999,126865200.0
18037,2010-03-01,AAPL,29.392857,29.855715,29.350000,29.928572,137523400.0
18505,2010-03-02,AAPL,29.990000,29.835714,29.677143,30.118572,141636600.0
18973,2010-03-03,AAPL,29.848572,29.904285,29.705715,29.981428,93013200.0
19441,2010-03-04,AAPL,29.897142,30.101429,29.804285,30.131428,91510300.0
19909,2010-03-05,AAPL,30.705715,31.278572,30.661428,31.385714,224905100.0
20377,2010-03-08,AAPL,31.430000,31.297142,31.178572,31.441429,107472400.0
20845,2010-03-09,AAPL,31.187143,31.860001,31.127142,32.142857,230064800.0
21313,2010-03-10,AAPL,31.975714,32.119999,31.885714,32.211430,149054500.0
21781,2010-03-11,AAPL,31.987143,32.214287,31.902857,32.214287,101425100.0
22249,2010-03-12,AAPL,32.481430,32.371429,32.250000,32.532856,104080900.0
22717,2010-03-15,AAPL,32.197144,31.977142,31.464285,32.214287,123375700.0
23185,2010-03-16,AAPL,32.025715,32.064285,31.787144,32.139999,111727000.0

In [25]:
df_aapl = df_aapl.set_index("date")
df_wmt = df_wmt.set_index("date")

In [26]:
# trading fee: 
# min 2 USD/deal
# 0.01 USD/stock

def get_trading_fee(price, trading_shares):
    fee = max(0.01*np.abs(trading_shares), 2)
    return fee

get_trading_fee(30,-300)

3.0

In [33]:
portfolio ={"Cash":100000, "AAPL":0, "WMT":0}
portfolio

{'Cash': 100000, 'AAPL': 0, 'WMT': 0}

In [34]:
date = df_aapl.index[0]
agent_1 = 100
agent_2 = 20
price_1 = df_aapl.at[date,"close"]
price_2 = df_wmt.at[date,"close"]
fee = get_trading_fee(price_1, agent_1) + get_trading_fee(price_2, agent_2)
portfolio["Cash"] = portfolio["Cash"] - fee - agent_1*price_1 - agent_2*price_2
portfolio["AAPL"] = portfolio["AAPL"] + agent_1
portfolio["WMT"] = portfolio["WMT"] + agent_2
portfolio

{'Cash': 95854.11431429, 'AAPL': 100, 'WMT': 20}

In [29]:
df_aapl

           symbol        open       close         low        high       volume
date
2010-01-04   AAPL   30.490000   30.572857   30.340000   30.642857  123432400.0
2010-01-05   AAPL   30.657143   30.625713   30.464285   30.798571  150476200.0
2010-01-06   AAPL   30.625713   30.138571   30.107143   30.747143  138040000.0
2010-01-07   AAPL   30.250000   30.082857   29.864286   30.285715  119282800.0
2010-01-08   AAPL   30.042856   30.282858   29.865715   30.285715  111902700.0
...           ...         ...         ...         ...         ...          ...
2016-12-23   AAPL  115.589996  116.519997  115.589996  116.519997   14249500.0
2016-12-27   AAPL  116.519997  117.260002  116.489998  117.800003   18296900.0
2016-12-28   AAPL  117.519997  116.760002  116.199997  118.019997   20905900.0
2016-12-29   AAPL  116.449997  116.730003  116.400002  117.110001   15039500.0
2016-12-30   AAPL  116.650002  115.820000  115.430000  117.199997   30586300.0

[1762 rows x 6 columns]